{% extends "base.html.twig" %}
{% block title %}Hello {{ user_first_name }}!{% endblock %}
{% block body %}
    <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
    </div>
{% endblock %}